<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <!--Defined Directory Variables-->
    <?define ProjectDirectory = "$(var.CalendarSyncPlus.Presentation.TargetDir)"?>
    <?define Net472Directory = "C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.7.2\"?>
    <?define Net472FacadeDirectory = "$(var.Net472Directory)Facades\"?>


    <!--Dependent libraries-->
    <ComponentGroup Id="ReleaseNotesGroup" Directory="RELEASENOTESFOLDER">
      <Component>
        <File Id="ReleaseNotes"
              Name="Release Notes.rtf"
              Source="$(var.ProjectDirectory)ReleaseNotes\Release Notes.rtf"
              KeyPath="yes" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="UserGuide" Directory="USERGUIDEFOLDER">
      <Component>
        <File Id="HowToUseGuide"
              Name="HowToUseGuide.xps"
              Source="$(var.ProjectDirectory)UserGuide\HowToUseGuide.xps"
              KeyPath="yes" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component>
        <File Id="CalendarSyncPlus.Common"
              Name="CalendarSyncPlus.Common.dll"
              Source="$(var.ProjectDirectory)CalendarSyncPlus.Common.dll"
              KeyPath="yes" />
      </Component>
      <Component>
        <File Id="CalendarSyncPlus.SyncEngine"
              Name="CalendarSyncPlus.SyncEngine.dll"
              Source="$(var.ProjectDirectory)CalendarSyncPlus.SyncEngine.dll"
              KeyPath="yes" />
      </Component>

      <Component>
        <File Id="CalendarSyncPlus.Domain"
              Name="CalendarSyncPlus.Domain.dll"
              Source="$(var.ProjectDirectory)CalendarSyncPlus.Domain.dll"
              KeyPath="yes" />
      </Component>

      <Component>
        <File Id="CalendarSyncPlus.Services"
              Name="CalendarSyncPlus.Services.dll"
              Source="$(var.ProjectDirectory)CalendarSyncPlus.Services.dll"
              KeyPath="yes" />
      </Component>
      <Component>
        <File Id="CalendarSyncPlus.Analytics"
              Name="CalendarSyncPlus.Analytics.dll"
              Source="$(var.ProjectDirectory)CalendarSyncPlus.Analytics.dll"
              KeyPath="yes" />
      </Component>
      <Component>
        <File Id="CalendarSyncPlus.OutlookServices"
              Name="CalendarSyncPlus.OutlookServices.dll"
              Source="$(var.ProjectDirectory)CalendarSyncPlus.OutlookServices.dll"
              KeyPath="yes" />
      </Component>
      <Component>
        <File Id="CalendarSyncPlus.Authentication.Google"
              Name="CalendarSyncPlus.Authentication.Google.dll"
              Source="$(var.ProjectDirectory)CalendarSyncPlus.Authentication.Google.dll"
              KeyPath="yes" />
      </Component>
      <Component>
        <File Id="CalendarSyncPlus.GoogleServices"
              Name="CalendarSyncPlus.GoogleServices.dll"
              Source="$(var.ProjectDirectory)CalendarSyncPlus.GoogleServices.dll"
              KeyPath="yes" />
      </Component>
      <Component>
        <File Id="CalendarSyncPlus.ExchangeWebServices"
              Name="CalendarSyncPlus.ExchangeWebServices.dll"
              Source="$(var.ProjectDirectory)CalendarSyncPlus.ExchangeWebServices.dll"
              KeyPath="yes" />
      </Component>

      <Component>
        <File Id="CalendarSyncPlus.Application"
              Name="CalendarSyncPlus.Application.dll"
              Source="$(var.ProjectDirectory)CalendarSyncPlus.Application.dll"
              KeyPath="yes" />
      </Component>

      <Component>
        <File Id="CalendarSyncPlus.exe"
              Name="CalendarSyncPlus.exe"
              Source="$(var.ProjectDirectory)CalendarSyncPlus.exe"
              KeyPath="yes" />
      </Component>
      <Component>
        <File Id="CalendarSyncPlus.exe.Config"
              Name="CalendarSyncPlus.exe.config"
              Source="$(var.ProjectDirectory)CalendarSyncPlus.exe.config"
              KeyPath="yes" />
      </Component>

      <!--Project Dependencies-->
      <Component>
        <File Id="ControlzEx"
              Name="ControlzEx.dll"
              Source="$(var.ProjectDirectory)ControlzEx.dll"
              KeyPath="yes" />
      </Component>
      <Component>
        <File Id="Google.Apis.Core"
              Name="Google.Apis.Core.dll"
              Source="$(var.ProjectDirectory)Google.Apis.Core.dll"
              KeyPath="yes" />
      </Component>
      <Component>
        <File Id="Google.Apis.Tasks.v1"
              Name="Google.Apis.Tasks.v1.dll"
              Source="$(var.ProjectDirectory)Google.Apis.Tasks.v1.dll"
              KeyPath="yes" />
      </Component>
      <Component>
        <File Id="Google.Apis.Analytics.v3"
              Name="Google.Apis.Analytics.v3.dll"
              Source="$(var.ProjectDirectory)Google.Apis.Analytics.v3.dll"
              KeyPath="yes" />
      </Component>
      <Component>
        <File Id="Google.Apis.Drive.v2"
              Name="Google.Apis.Drive.v2.dll"
              Source="$(var.ProjectDirectory)Google.Apis.Drive.v2.dll"
              KeyPath="yes" />
      </Component>
      <Component>
        <File Id="Google.GData.Client"
              Name="Google.GData.Client.dll"
              Source="$(var.ProjectDirectory)Google.GData.Client.dll"
              KeyPath="yes" />
      </Component>
      <Component>
        <File Id="Google.GData.Contacts"
              Name="Google.GData.Contacts.dll"
              Source="$(var.ProjectDirectory)Google.GData.Contacts.dll"
              KeyPath="yes" />
      </Component>
      <Component>
        <File Id="Google.GData.Extensions"
              Name="Google.GData.Extensions.dll"
              Source="$(var.ProjectDirectory)Google.GData.Extensions.dll"
              KeyPath="yes" />
      </Component>
      <Component>
        <File Id="Google.Apis.Calendar.v3"
              Name="Google.Apis.Calendar.v3.dll"
              Source="$(var.ProjectDirectory)Google.Apis.Calendar.v3.dll"
              KeyPath="yes" />
      </Component>
      <Component>
        <File Id="Google.Apis"
              Name="Google.Apis.dll"
              Source="$(var.ProjectDirectory)Google.Apis.dll"
              KeyPath="yes" />
      </Component>
      <Component>
        <File Id="Google.Apis.Auth"
              Name="Google.Apis.Auth.dll"
              Source="$(var.ProjectDirectory)Google.Apis.Auth.dll"
              KeyPath="yes" />
      </Component>
      <Component>
        <File Id="Hardcodet.Wpf.TaskbarNotification"
              Name="Hardcodet.Wpf.TaskbarNotification.dll"
              Source="$(var.ProjectDirectory)Hardcodet.Wpf.TaskbarNotification.dll"
              KeyPath="yes" />
      </Component>
      <Component>
        <File Id="log4net"
              Name="log4net.dll"
              Source="$(var.ProjectDirectory)log4net.dll"
              KeyPath="yes" />
      </Component>     
      <Component>
        <File Id="MahApps.Metro"
              Name="MahApps.Metro.dll"
              Source="$(var.ProjectDirectory)MahApps.Metro.dll"
              KeyPath="yes" />
      </Component>
      <Component>
        <File Id="MahApps.Metro.SimpleChildWindow"
              Name="MahApps.Metro.SimpleChildWindow.dll"
              Source="$(var.ProjectDirectory)MahApps.Metro.SimpleChildWindow.dll"
              KeyPath="yes" />
      </Component>
       <Component>
        <File Id="MefContrib"
              Name="MefContrib.dll"
              Source="$(var.ProjectDirectory)MefContrib.dll"
              KeyPath="yes" />
      </Component>
      <Component>
        <File Id="Microsoft.Threading.Tasks"
              Name="Microsoft.Threading.Tasks.dll"
              Source="$(var.ProjectDirectory)Microsoft.Threading.Tasks.dll"
              KeyPath="yes" />
      </Component>
      <Component>
        <File Id="Microsoft.Threading.Tasks.Extensions"
              Name="Microsoft.Threading.Tasks.Extensions.dll"
              Source="$(var.ProjectDirectory)Microsoft.Threading.Tasks.Extensions.dll"
              KeyPath="yes" />
      </Component>
      <Component>
        <File Id="Microsoft.Threading.Tasks.Extensions.Desktop"
              Name="Microsoft.Threading.Tasks.Extensions.Desktop.dll"
              Source="$(var.ProjectDirectory)Microsoft.Threading.Tasks.Extensions.Desktop.dll"
              KeyPath="yes" />
      </Component>
      <Component>
        <File Id="Microsoft.AspNet.SignalR.Client"
              Name="Microsoft.AspNet.SignalR.Client.dll"
              Source="$(var.ProjectDirectory)Microsoft.AspNet.SignalR.Client.dll"
              KeyPath="yes" />
      </Component>
      <Component>
        <File Id="Microsoft.Office.Interop.Outlook"
              Name="Microsoft.Office.Interop.Outlook.dll"
              Source="ReferenceBinaries\Microsoft.Office.Interop.Outlook.dll"
              KeyPath="yes" />
      </Component>
      <Component>
        <File Id="Newtonsoft.Json"
              Name="Newtonsoft.Json.dll"
              Source="$(var.ProjectDirectory)Newtonsoft.Json.dll"
              KeyPath="yes" />
      </Component>
      <Component>
        <File Id="System.Net.Http.Extensions"
              Name="System.Net.Http.Extensions.dll"
              Source="$(var.ProjectDirectory)System.Net.Http.Extensions.dll"
              KeyPath="yes" />
      </Component>
      <Component>
        <File Id="System.Net.Http.Primitives"
              Name="System.Net.Http.Primitives.dll"
              Source="$(var.ProjectDirectory)System.Net.Http.Primitives.dll"
              KeyPath="yes" />
      </Component>
      <Component>
        <File Id="System.Waf.Core"
              Name="System.Waf.Core.dll"
              Source="$(var.ProjectDirectory)System.Waf.Core.dll"
              KeyPath="yes" />
      </Component>
      <Component>
        <File Id="System.Waf.Wpf"
              Name="System.Waf.Wpf.dll"
              Source="$(var.ProjectDirectory)System.Waf.Wpf.dll"
              KeyPath="yes" />
      </Component>
      <Component>
        <File Id="System.Windows.Interactivity"
              Name="System.Windows.Interactivity.dll"
              Source="$(var.ProjectDirectory)System.Windows.Interactivity.dll"
              KeyPath="yes" />
      </Component>      
      <Component>
        <File Id="WPFLocalizeExtension"
              Name="WPFLocalizeExtension.dll"
              Source="$(var.ProjectDirectory)WPFLocalizeExtension.dll"
              KeyPath="yes" />
      </Component>
      <Component>
        <File Id="XAMLMarkupExtensions"
              Name="XAMLMarkupExtensions.dll"
              Source="$(var.ProjectDirectory)XAMLMarkupExtensions.dll"
              KeyPath="yes" />
      </Component>
      <Component>
        <File Id="Zlib.Portable"
              Name="Zlib.Portable.dll"
              Source="$(var.ProjectDirectory)Zlib.Portable.dll"
              KeyPath="yes" />
      </Component>
    <!--Outlook Dependencies-->
      <Component>
        <File Id="OFFICE.DLL"
              Name="OFFICE.DLL"
              Source="ReferenceBinaries\OFFICE.DLL"
              KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>